@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body{
    font-size: 20px;
    font-family: Play;
    background-color: black;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  #nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 999;
    background-color: #FFF;
    opacity: 0.8;
}
#logo {
    height: 100px;
    width: 130px;
}
#reload {
    text-decoration: none;
    background-color: ghostwhite;
    color: darkred;
    font-weight: 800;
    font-size: 20px;
}
#container{
    margin : 15% auto;
    background-color: white;
    height: 30rem;
    width : 70rem;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 5px darkred;
    opacity: 0.9;
    position: relative;
}
#title {
    text-align: center;
    font-size: 5rem;
    padding-top: 5%;
}
#title span{
    background: -webkit-linear-gradient(rgb(141, 135, 135), darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:80%;
    height:25%;
    border : 2px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:10%;
    top:50%;
    color : black;
}

#start p{
    text-align: center;
}
#start:hover{
    border: 3px groove black;
    color : white;
    background-color: darkred;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}
#circuit{
    width : 15em;
    height : 12em;
    position: absolute;
    left : 10%;
    top : 15%;
}
#circuit img{
    width : 15em;
    height : 12em;
    border-top-left-radius: 5px;
}
#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: block;
    width : 50%;
    text-align: center;
    border : 1px groove gold ;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    margin-bottom: 5%;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
    background-color: rgba(212,175,55, 0.5);
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#timedisplay{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#chrono{
    height : 10px;
    border-radius: 10px;
    background-color: rgba(212,175,55, 0.5);
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 50%;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 1em;
    height : 1em;
    border: 3px groove #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 15% auto;
    background-color: rgb(3, 5, 109);
    height: 30rem;
    width : 70rem;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px;
    position: relative;
    display: none;
}

#scoreContainer p{
    position: absolute;
    display: block;
    width : 5em;
    height :3em;
    left: 40%;
    top:60%;
    font-size: 3em;
    font-weight: 800;
    color: cornsilk;
    text-align: center;
}
#schumi {
    text-align: center;
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 40%;
}