@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
font-family: Play;
background-color: black;
color: cornsilk;
}

#logo {
    height: 80px;
    width: 110px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 999;
    background-color: #FFF;
}
#rules {
    text-decoration: none;
    background-color: ghostwhite;
    color: darkred;
    font-weight: 800;
    font-size: 24px;
}

#main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#start-flag {
    height: 20em;
    width: 50%;
}
h1 {
    font-size: 5rem;
    border: dashed 8px darkred;
    border-radius: 50%;
}
#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn {
    height: 60px;
    width: 120px;
    font-size: 1rem;  
}

.btn a {
    text-decoration: none; 
    background: none;
}    

.btn:hover {
    background-color: darkred;
    width: 150px;
    height: 75px;
    transition-property: width;
    transition-duration: 0.1s;
    transition-timing-function:linear;
    transition-delay: 0.3s;
}
/*
footer {
    background-color: darkred;
    font-size: 18px;
    height: 10%;
    width: 100%;
    bottom: 0;
}